@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
} 
html,body,#menu{
  height: 100%;
  width: 100%;
}
button{
  height: 8rem;
  width: 23rem;
  border: 0;
  border-radius: 5px;
  background-color:#6d6d6d;
  font-size: 3rem;
  color:#7693b4;
  text-shadow: 1px 1px 2px black;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}
button:hover{  
    background-color:rgb(118,147,180);
    color: #6d6d6d;
    text-shadow: 1px 1px 2px black;
}
#menu, button{
    font-family: 'Goldman', cursive;
}
#menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #333333;
  font-size: 6rem;
}
.title1{
  color: #7693b4;
}
.title2{
  color: #6d6d6d;
}
#controlls-container {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
#recordList{
  position: absolute;
  height: 15rem;
  width: 5rem;
  bottom: 1rem;
  left: 1rem;
  color: white;
  text-shadow: 1px 1px 5px black;
  overflow-x: scroll;
}
.record:hover{
  color: #333333;
  text-shadow: 0;
  cursor: pointer;
}
.record{
  font-size: 1rem;
}
#controlls{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#controlls-container #controlls span {
  display: inline-flex;
  align-items: center; 
  font-family: 'Goldman', cursive;
}
#joyDiv{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: none;
}
#mobileArrows{
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  width: 8rem;
  height: 8rem;
  display: none;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#mobileArrows > i{
  font-size: 3rem;
}
#mobileBackground{
  display: none;
  background: rgb(51,51,51);
  background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(118,147,180,1) 100%);
  width: 100%;
  height: 100%;
}
#room{
  display: none;
  position: absolute;
  top:1rem;
  left: 5rem;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: 'Goldman', cursive;
}
#positionList{
  display:none;
  position: absolute;
  top:3rem;
  left:1rem;
  font-family: 'Goldman', cursive;
  font-size: 1.5rem;
  flex-direction: column-reverse;
}
.listItem{
  display: flex;
  align-items: center;
  gap:1rem;
}
#roomKey{
  display: none;
  width: 80%;
  height: 20rem;
  border: 0;
  color:#7693b4;
  border-radius: 10px;  
  justify-content: center;
  flex-direction:column;
  align-items: center;
  gap: 2rem;
  background-color: black;
}
#roomKey > div {
  display: flex;
  gap: 1rem;
}
#roomKey > input {
  height: 3rem;
  border-radius: 3px;
  border:0;
  padding-left: 10px;
}
.roomSubmit{
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
}

#record {
  display: none;
  position: absolute;
  width: 14vw;
  height: 5vw;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* MEDIA QUERIES */
@media (max-width: 926px) {
  button{
    height: 5rem;
  }
  #record{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  #recordList{
    position: absolute;
    height: 10rem;
    width: 5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    overflow-x: scroll;
    top:0;
    right:0;
    left: auto;
  }
}
@media (max-width: 716px) {
  #menu{
  font-size: 4rem;
  }
}
@media (max-width: 465px) {
  #menu{
    font-size: 3rem;
  }
  button{
    width: 20rem;
  }
  #record{
    width: 26vw;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    height: 10vw;
  }
}
@media (max-width: 400px) {
  #menu > button{
    font-size: 2rem;
  }
}
@media (max-height: 429px) {
 #roomKey{
   height: 15rem;
 }
 #roomKey>label{
  font-size: 3rem;
  }
}

/***************************************************************************************************** CSS LOGIN*/

#login,#register{
  position: absolute;
  background-color: #333333;
  width: 100%;
  height: 100%;
}
.logout{
  position: absolute;
  right: 1rem;
  top:1rem;
  font-size: 2rem;
  color:#7693b4;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}
#back{
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: none;
    font-size: 2rem;
    color:#6d6d6d;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; 
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
}
.logout:hover{
  color: #6d6d6d;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.form>input{
  width: 50%;
  border-radius: 10px;
}
.form>label,.form>p{
  color: #ccc;
  font-size: 1rem;
  font-family: 'Goldman', cursive;
 
}
.form>p:hover{
  color: #7693b4;
  cursor: pointer;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  width: 11rem;
  height: 4rem;
  font-size: 2rem;
}

#loginbtn{
  width: auto;
  padding: 10px 18px;
  width: 11rem;
  height: 4rem;
  font-size: 2rem;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  text-align: center;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 
@media screen and (max-width: 673px) {
    .imgcontainer>img{
      width: 20rem;
    }
} 
/***************************************************************************************************** CSS LOGIN*/