@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
} 
html,body,#menu{
  height: 100%;
  width: 100%;
}
button{
  height: 8rem;
  width: 23rem;
  border: 0;
  border-radius: 5px;
  background-color:#6d6d6d;
  font-size: 3rem;
  color:#7693b4;
  text-shadow: 1px 1px 2px black;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}
button:hover{  
    background-color:rgb(118,147,180);
    color: #6d6d6d;
    text-shadow: 1px 1px 2px black;
}
#menu, button{
    font-family: 'Goldman', cursive;
}
#menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333333;
  font-size: 6rem;
}
.title1{
  color: #7693b4;
}
.title2{
  color: #6d6d6d;
}
#controlls-container {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#controlls{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#controlls-container #controlls span {
  display: inline-flex;
  align-items: center; 
  font-family: 'Goldman', cursive;
}
#joyDiv{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: none;
}
#mobileArrows{
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  width: 8rem;
  height: 8rem;
  display: none;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#mobileArrows > i{
  font-size: 3rem;
}
#mobileBackground{
  display: none;
  background: rgb(51,51,51);
  background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(118,147,180,1) 100%);
  width: 100%;
  height: 100%;
}
#room{
  display: none;
  position: absolute;
  top:1rem;
  left: 1rem;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: 'Goldman', cursive;
}
#positionList{
  display:none;
  position: absolute;
  top:2.5rem;
  left:1rem;
  font-family: 'Goldman', cursive;
  font-size: 1.5rem;
  flex-direction: column-reverse;
}
.listItem{
  display: flex;
  align-items: center;
  gap:1rem;
}
#roomKey{
  display: none;
  width: 80%;
  height: 20rem;
  border: 0;
  color:#7693b4;
  border-radius: 10px;  
  justify-content: center;
  flex-direction:column;
  align-items: center;
  gap: 2rem;
  background-color: black;
}
#roomKey > div {
  display: flex;
  gap: 1rem;
}
#roomKey > input {
  height: 3rem;
  border-radius: 3px;
  border:0;
  padding-left: 10px;
}
.roomSubmit{
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
}

#record {
  position: absolute;
  left: 65rem;
  width: 14vw;
  height: 5vw;
}
/* MEDIA QUERIES */
@media (max-width: 812px) {
  button{
    height: 5rem;
  }
}
@media (max-width: 716px) {
  #menu{
  font-size: 4rem;
  }
}
@media (max-width: 465px) {
  #menu{
    font-size: 3rem;
  }
  button{
    width: 20rem;
  }
}
@media (max-width: 400px) {
  #menu > button{
    font-size: 2rem;
  }
}
@media (max-height: 429px) {
 #roomKey{
   height: 15rem;
 }
 #roomKey>label{
  font-size: 3rem;
  }
}